h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body       
        li Identificar las acciones de mejora de acuerdo con el diagnóstico y herramientas de análisis.
.card.resultado-item
    .card-body  
        li Definir el plan de acción según procedimiento técnico y normativa.
.card.resultado-item
    .card-body  
        li Valorar los resultados del plan de acción teniendo en cuenta procedimiento técnico y necesidades de la empresa.
.card.resultado-item
    .card-body  
        li Ajustar plan de acción de acuerdo con análisis de resultados y procedimiento técnico.

        





