.container#page-introduccion

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white  
      
      .row
        .col-12              
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/76e_8OMEwVI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', 
            allowfullscreen='') 