.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Cámara de Comercio de Medellín. 2021. Guías de tipos societarios.
                    td PDF
                    td 
                        a(href="media/documentos/GuiaTipoSocietario__FormatoPDF_ago20.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver  
                tr
                    td FAO. (2018). Análisis FODA. 
                    td PDF
                    td 
                        a(href="media/documentos/ca1923es.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Instituto Colombiano Agropecuario. (2021). Buenas prácticas agrícolas y ganaderas 
                    td Web
                    td 
                        a(href="https://www.ica.gov.co/areas/agricola-pecuaria/bpa-bpg.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Instituto Colombiano Agropecuario. (2021). Normatividad
                    td Web
                    td 
                        a(href="https://www.ica.gov.co/normatividad/normas-nacionales/resoluciones", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Puentes, M.G. 2011. Formulación y evaluación de proyectos agropecuarios
                    td Libro
                    td 
                        a(href="https://www.ecoeediciones.com/libros/libros-de-ciencias-agrarias/formulacion-y-evaluacion-de-proyectos-agropecuarios-1ra-edicion/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Superintendencia de sociedades. Cartillas y guías
                    td Web
                    td 
                        a(href="https://www.supersociedades.gov.co/delegatura_aec/informes_publicaciones/responsabilidad_social/Paginas/cartillas_guias.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Ministerio del trabajo. Tipos de contrato laborales
                    td Web
                    td 
                        a(href="https://www.mintrabajo.gov.co/web/empleosinfronteras/conoce-los-tipos-de-contrato-de-trabajo", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Ministerio del trabajo. Información y orientación laboral para la población colombiana en situación de retorno
                    td PDF
                    td 
                        a(href="media/documentos/Cartilla_laboral.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Presidencia de la república, Decreto 2616 del 20 de noviembre de 2013.
                    td PDF
                    td 
                        a(href="media/documentos/DECRETO_2616_20_NOVIEMBRE_2013.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Ministerio del trabajo. Abecé de la contratación por semanas
                    td PDF
                    td 
                        a(href="media/documentos/abece_cotizacion_por_semanas.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Unidad de Planeación Minero Energética (UPME). Normatividad ambiental y sanitaria. 
                    td Web
                    td 
                        a(href="http://www.upme.gov.co/guia_ambiental/carbon/gestion/politica/normativ/normativ.htm#BM2_1_Normas_y_principios_ambientales_co", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver